body {
    background-color: #1B2838;
    color: white;
}

.navbar {
    background-color: #171d25 !important;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}

.nav-link:hover {
    color: white;
}

.active-nav-link {
    color: #1a9fff;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bolder;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
}

.grey-container {
    background-color: #171d25;
}

.game-title {
    font-size: xx-large;
    font-weight: bolder;
}

.now-available {
    font-size: x-large;
    font-weight: bold;
}

section {
    margin-top: 30px;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
    margin-top: 250px;
    background-color: black;
    opacity: 0.8;
}

.black-container {
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recommendation-header {
    color: #67c1f5;
    font-size: larger;
}

.recommendation-text {
    color: #8f98a0;
}

.btn-success {
    background-color: #799905;
    border-width: 0px;
}

.btn-success:hover {
    background-color: #536904;
}

.offer-img {
    max-width: 378px;
    max-height: 398px;
}

.discount-pct {
    color: #BEEE11;
    background: #4c6b22;
    font-weight: 500;
}

.price {
    color: #BEEE11;
    font-weight: 500;
    background-color: #344654;
}

.small-offer-img {
    max-width: 100%;
}