/* font import for header */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Tektur&display=swap');


header {
  color: #fafafa;
  text-align: center;
  font-family: 'Tektur', sans-serif;
}

nav {
  color: #fafafa;
  text-align: center;
  font-family: 'Tektur', sans-serif;
}

body {
  background-color: rgb(48, 37, 37);
}

h2 {
  font-family: 'Tektur', sans-serif;
}

#carouselExampleCaptions {
  max-width: 600px; /* Set maximum width to the viewport width */
  margin: auto;
}

/* class for font implementation */
.techfont {
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Tektur', sans-serif;
}

.info-div {
  color: #fafafa;
  margin: 25%;
}

/* Footer */

/* -------------------------------------------------------------Footer*/

footer {
  text-align: center;
}

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

.info-div {
  color: #fafafa;
  margin: 25%;
  margin-left: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .info-div h2 {
    text-align: center;
    
    text-shadow: black;
    text-size: 68px;
  }
/* -------------------------------------------------------------Social.HTML*/

.col {
  color: #fafafa;
}

form {
  color: #fafafa;
  text-align: left;
  font-family: 'Tektur', sans-serif;
}
