header {
  color: #fafafa;
  text-align: center;
}
body {
  background-color: rgb(48, 37, 37);
}

#carouselExampleCaptions {
  max-width: 600px; /* Set maximum width to the viewport width */
  margin: auto;
}






/* -------------------------------------------------------------Footer*/
footer {
  text-align: center;
}